body, html {
    height: 100%;
    margin: 0;
}
header {
    padding: 30px;
}
div.container {
   width: 40%;
   min-width: 400px;
   position: absolute;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   background: blueviolet;
   min-height: 150px;
   border-radius: 8px;
    
}
#task {
position: relative;
padding: 30px 20px;
}
#task input {
    width: 75%;
    /*määrittele fontit myöhemmin*/
    border: 2px solid;
    padding: 15px;
    color:midnightblue;
    position: relative;
    border-radius: 10px;
}
#task input:focus {
    outline: none;
    border-color:deeppink;
}
#task button {
    position: relative;
    float: right;
    width: 45px;
    height: 50px;
    border-radius: 5px;
    /*määrittele fontit*/

}
#alltasks {
    background-color: grey;
    height: 50px;
    margin-bottom: 10px;
    padding: 5px 10px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}